/*custom css by khemraj*/
.action_btn{
	color:#333;
	font-size:25px;
	padding-right:20px;
}
.action_btn:hover{
	color:#333;
	
}
abbr[title] {
    cursor: pointer !important;
    border-bottom: none !important;
    text-decoration: none !important;
}
.search_btn{
	background-color:#ec268f !important;
	color:#fff;
	font-size:18px;
	padding:3px 12px !important;
}
.search_btn:hover{
	background-color: #343690 !important;
	color:#fff;

}
.accept_btn{
	background-color:#ec268f !important;
	color:#fff;
	font-size:18px;
	padding:3px 12px !important;
}
.accept_btn:hover{
	background-color: #343690 !important;
	color:#fff;

}
@media only screen and (min-width: 1200px){
	.from_date{
		width: 10.66% !important;
	}
	.franchisee_name{
		width: 15.66% !important;
	}
}