@import url("responsiveslides.css");
@import url("selectlistbox.css");
@import url("navigation.css");
@import url("easy-responsive-tabs.css");
@import url("jquery-ui.css");
@import url("font-awesome.min.css");



@font-face {
font-family:'MyriadPro-Regular';
src:url('../font/MyriadPro-Regular.eot');
src:url('../font/MyriadPro-Regular.woff2') format('woff2'),
    url('../font/MyriadPro-Regular.woff') format('woff'),
    url('../font/MyriadPro-Regular.ttf') format('truetype'),
	url('../font/MyriadPro-Regular.otf') format('opentype'),
    url('../font/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
    url('../font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');font-weight:normal;font-style:normal;}

body{margin:0px;padding:0px;font-family:'MyriadPro-Regular'!important;color:#696969;font-size:13px; background:#fff;}
html {-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
img{border:0px; max-width:100%;}
p{ margin:0px; padding:0px;}
ul, li{margin:0px; padding:0px;list-style-type: none;}
h1, h2, h3, h4, h5, h6, h7 { margin:0px; padding:0px; font-weight:normal;}
a{ text-decoration:none; color:#113665;}
a:hover{ text-decoration:none; color:#343690;}

.wrapper{ width:100%; float:left; min-height:740px;}
.wrapperIn{ width:100%; display:inline-block; vertical-align:top;}
.wrapperIn2{ width:100%; display:inline-block; vertical-align:top; padding-top:120px;}

* {	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:before, :after {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.clr{ clear:both;}
/*--css-start--*/
/*--homePage--*/
.chatIcon{ position:fixed; bottom:0px; right:0px; z-index:2; float:right; display:none;} 
.chatIcon a{ display:block;}
.chatIcon img{ display:inline-block; vertical-align:bottom; max-width:100%;}
.fullGrid{width:100%; float:left;}
.center{ text-align:center;}
.topBarbg{ background:#686c75;}
.topBarLeft{float:left;}
.topBarRight{float:right;}
.topBarmail{ float:left; padding:10px 25px 10px 0px; font-size:14px; color:#fff;}
.topBarmail a:link,.topBarmail a:visited{ text-decoration:none; color:#fff;-webkit-transition: all ease 0.5s;-moz-transition:all ease 0.5s;-o-transition:all ease 0.5s;-ms-transition:all ease 0.5s;transition:all ease 0.5s;}
.topBarmail a:hover{ text-decoration:none; color:#b9ff23;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}
.topBarmail i{ margin-right:8px;}
.captions{ display:inline-block; vertical-align:top; width:1180px; text-align:left; position:relative;background:url(../images/footer-icon.png) no-repeat; background-position:right top;}
.captionsInner{ width:100%; position:absolute; left:0px; right:0px; bottom:70px;}
.captions .left{ width:51%; float:left; margin-top:30px; position:relative;}
.captions .right{ width:49%; float:right;}
.captions .right h3{width:100%; float:left;font-size:28px; padding-bottom:4px; color:#000;}
.captions .right h4{width:100%; float:left; padding-bottom:10px;font-size:30px; color:#000;}
.captions .right h4 span{color:#9fdb1e;}
.captions .right b{width:100%; float:left;font-size:14px; color:#2c2e2c;font-weight:normal; margin:5px 0px; padding-left:27px; min-height:22px; background:url(../images/pointer.png) no-repeat; background-position:left top;}
.captions .right h5{width:100%; float:left;}
.captions .right h6{width:100%; float:left; padding:0px 0px 20px 0px;}
.captionsPrice{ width:153px; height:153px; position:absolute; top:70px; left:-20px;background:url(../images/circleprice.png) no-repeat; background-position:center top; text-align:center;}
.captionsPrice h3{width:100%; float:left; padding-bottom:5px; font-size:18px; color:#2c2e2c; margin-top:34px;}
.captionsPrice h3 span{width:100%; float:left;font-size:30px; color:#2c2e2c; margin-top:-6px;}
.captionsPrice h3 strong{}
.captionsPrice h3 b{width:100%; float:left;font-size:16px; color:#2c2e2c;text-align:right; padding-right:30px; margin-top:-8px;}

.homeslider{ width:100%; float:left; margin:20px 0px 30px 0px; text-align:left;}
.latestNews{ width:100%; float:left; text-align:left;}
.homeslider ul{ width:100%; float:left; margin:0px; padding:0px;}
.homeslider li{ width:50%; float:left; margin:0px; padding:0px 20px;}
.homesliderImg{ width:100%; float:left;}
.homesliderImg img{ max-width:100%; border:5px solid #fff;
-webkit-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.25);
-moz-box-shadow:    0px 2px 14px 0px rgba(0, 0, 0, 0.25);
-ms-box-shadow:     0px 2px 14px 0px rgba(0, 0, 0, 0.25);
box-shadow:         0px 2px 14px 0px rgba(0, 0, 0, 0.25);}
.homesliderTitle{ margin-top:20px; width:100%; float:left; font-size:18px; color:#343690; text-align:left;}

.marquee {width:100%;margin: 0 auto;overflow: hidden;white-space: nowrap;box-sizing: border-box;animation: marquee 50s linear infinite; color:#fff; font-size:16px;}
.marquee span{ border-right:1px solid #fff; padding-right:10px; margin-right:10px;}
.marquee:hover {animation-play-state: paused}
@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}
.microsoft {position: relative;}

.latestNews{ margin-bottom:20px; width:100%; float:left; padding-left:165px; padding-right:20px; position:relative; height:44px; line-height:44px; background:#ec268f;}
.latestNewsTitle{ line-height:44px;width:145px; position:absolute; left:0px; top:0px; height:44px; background:#343690; text-align:center; font-size:20px; color:#fff;}

.topBarLog{ float:right; padding:10px 0px 10px 20px; font-size:14px; color:#fff;}
.topBarLog a:link,.topBarLog a:visited{ text-decoration:none; color:#fff;-webkit-transition: all ease 0.5s;-moz-transition:all ease 0.5s;-o-transition:all ease 0.5s;-ms-transition:all ease 0.5s;transition:all ease 0.5s;}
.topBarLog a:hover{ text-decoration:none; color:#b9ff23;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}
.topBarLog i{ margin-right:5px;}
.positionR{ position:relative;}
.positionA{ position:absolute;}
.slideposi{ position:relative; z-index:5;}
.logoBarbg{ background:#fff; height:121px; border-bottom:1px solid #ec268f; padding:0px 20px; position:absolute; top:0px; left:0px; right:0px;}
.logoBarLeft{ float:left; padding:6px 0px;}
.logoBarLeft a{ display:block; text-decoration:none; border:none;}
.logoBarRight{ float:right;padding:40px 0px 40px 0px;}
.logoBarLeftpositionR{ position:relative;}
.logoBarRight .menuzord-menu>li.register{ background:#d87228; text-align:center;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px; margin-left:10px;}
.logoBarRight .menuzord-menu>li.register a{color:#fff;}
.logoBarRight .menuzord-menu ul.dropdown li.register:hover>a, .logoBarRight .menuzord-menu>li.register.active>a, .logoBarRight  .menuzord-menu>li.register:hover>a {color: #000;}

.usericon{ float:right; min-height:35px; line-height:35px; padding-right:22px; background:url(../images/downarow.png) no-repeat; background-position:center right;}
.userimg{ float:right; height:35px; line-height:35px; padding-right:10px;}
.userimg img{ max-width:35px; height:35px; width:35px;
-webkit-border-radius:50%;
-moz-border-radius:50%;
-o-border-radius:50%;
-ms-border-radius:50%;
border-radius:50%;}

.sidebarOuter{ position:fixed; z-index:0; left:0px; top:0px; bottom:0px; width:130px; background:#ec268f; height:100%;}
.sidebarhome{float:left; width:130px; position:absolute; left:0px; z-index:3;}
.sidebarhome ul{ margin:0px; padding:66px 0px 0px 0px; list-style-type:none; width:100%; float:left;}
.sidebarhome li{ margin:0px; padding:0px; list-style-type:none; width:100%; float:left; position:relative; display:table;}

.sidebarhome li a{ display:table-cell;vertical-align:middle;width:130px; float:left;color:#fff; text-decoration:none; padding:30px 10px; text-align:center;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}
.sidebarhome li a:hover{ background:#343690;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}
.sidebarhome li a.active{ background:#343690;}
.sidebarhome .img{ width:100%; float:left; padding-bottom:12px; text-align:center;}
.sidebarhome .img img{ max-width:100%;}
.sidebarhome .title{ width:100%; float:left;}
.sidebarright{width:100%;float:left;padding-left:170px;padding-top:30px;position:relative;padding-right:30px;}
.pageTitle{ width:100%; float:left; text-align:left; font-size:24px; color:#333; padding-bottom:25px;}
.pageTitle span{ color:#ec268f;}
.pageTitle2{ width:100%; float:left; text-align:left; font-size:18px; color:#333; padding-bottom:20px;}
.ordertop{float:right;}

.orderTable{ width:100%; float:left; padding:27px; text-align:left; border:1px solid #ccc;}
.table .bgpink{ background:#ec268f!important; color:#fff !important; font-size:18px;}
.table td{ padding:8px 13px; text-align:center;}
.table td:nth-child(1){ text-align:left;}
.table td:nth-child(2){ text-align:left;}

.table {font-size:18px; color:#333;}
.table tr:nth-child(even) {background:#f5f5f5;}
.table tr:nth-child(odd) {background:#e1e1e1;}
.tableInput{ background:#fff; border:1px solid #ccc; width:50px; padding:2px 2px; text-align:center; display:inline-table; vertical-align:middle;}
.tableInput::-webkit-input-placeholder {color: #666666 !important;opacity: 1 !important;}
.tableInput:-moz-placeholder { color: #666666 !important;opacity: 1 !important;}
.tableInput::-moz-placeholder {color: #666666!important;opacity: 1 !important;}
.tableInput:focus, input:focus{outline: 0;}
.tableInput *:focus {outline: 0;}


.order-left{ width:50%; float:left;}
.order-right{ width:50%; float:left;}
.orderclose{ width:75%; float:left; color:#333; font-size:16px; text-align:right; padding-right:15px; min-height:25px; line-height:25px;}
.ordercloser2{ width:25%; float:left;color:#333; font-size:14px; min-height:25px; line-height:25px; text-align:left;}
.ordercloser2 span{ font-size:24px; margin-left:-3px;}
.ordermto20px{ margin-top:20px; width:100%; float:left;}
.ordermto2px{ margin-top:2px; width:100%; float:left;}

.order-price{ width:75%; float:left; color:#333; font-size:16px; text-align:right; padding-right:15px; min-height:33px; line-height:33px;} 

.order-amount{ width:25%; float:left;color:#333; font-size:24px; min-height:25px; line-height:25px; text-align:left; background:#343690; padding:4px 10px; color:#fff; text-align:center;}

.order-btn{ width:100%; float:left; padding:20px 0px; text-align:center;}
a.saveOrder{ display:inline-block; vertical-align:top; background:#ec268f; padding:8px 15px; text-align:center; text-decoration:none; color:#fff; font-weight:bold; font-size:18px; line-height:23px;
-webkit-border-radius:6px;
-moz-border-radius:6px;
-o-border-radius:6px;
-ms-border-radius:6px;
border-radius:6px;}
a.saveOrder:hover{background:#343690;}

.ordercake{ width:100%; float:left; text-align:left; margin-top:10px; padding-bottom:20px;}
.ordercake .left{ width:34%; float:left; padding-right:50px;}
.ordercake .center{ width:40%; float:left; padding-right:30px; text-align:left;}
.ordercake .right{ width:25%; float:right;}

.cackleft{ width:50%; float:left; padding-right:10px; color:#666;}
.cackright{ width:50%; float:left; color:#222;}
.fullform{ margin-bottom:15px; font-size:16px; width:100%; float:left;}
.cackimg{ width:100%; float:left; position:relative; text-align:left; padding-left:7px; margin-top:7px;}
.cackimg img{ max-width:100%; width:144px; height:144px;}
.cackimglable{ position:absolute; top:-5px; left:0px;}
.cackimglable img{ max-width:100%; width:77px!important; height:75px !important;}

.cackleft2{ width:50%; float:left; color:#666; padding:8px 20px 8px 0px;}
.cackrighttexbox{ position:relative; width:50%; float:left; color:#222; min-height:35px; line-height:35px;}
.cakename{ color:#ec268f;}
.searchrecord{ position:absolute; right:0px; top:1px;}
.btnsearch{ width:30px; height:34px; background:#ec268f url(../images/search-icon.png) no-repeat; background-position:center; text-align:center; margin:0px; padding:0px; cursor:pointer; border:none;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}
.btnsearch:hover{background:#343690 url(../images/search-icon.png) no-repeat; background-position:center;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}
.texboxitemcode{ background:#fff;min-height:30px; line-height:30px; width:100%;font-size:13px;color:#666666;border:1px solid #ccc; padding-left:15px;}

.texboxitemcode::-webkit-input-placeholder {color: #666666 !important;opacity: 1 !important;}
.texboxitemcode:-moz-placeholder { color: #666666 !important;opacity: 1 !important;}
.texboxitemcode::-moz-placeholder {color: #666666!important;opacity: 1 !important;}
.texboxitemcode:focus, input:focus{outline: 0;}
.texboxitemcode *:focus {outline: 0;}
@media screen and (-webkit-min-device-pixel-ratio:0) {::i-block-chrome, .texboxitemcode{ line-height:16px;}}


.texboxcal{ background:#fff url(../images/cal.png) no-repeat;background-position:right center;padding-left:10px;}
.texboxcal2{ background:#fff; background-position:right center; padding-left:10px;}

.textarea{ background:#fff;min-height:90px; line-height:22px; width:100%;font-size:14px;color:#666666;border:1px solid #ccc; padding-left:15px; resize:none;font-family:'MyriadPro-Regular';}
.textarea::-webkit-input-placeholder {color: #666666 !important;opacity: 1 !important;}
.textarea:-moz-placeholder { color: #666666 !important;opacity: 1 !important;}
.textarea::-moz-placeholder {color: #666666!important;opacity: 1 !important;}
.textarea:focus, input:focus{outline: 0;}
.textarea *:focus {outline: 0;}
@media screen and (-webkit-min-device-pixel-ratio:0) {::i-block-chrome, .textarea{ line-height:16px;}}
.calicon{ width:100%; float:left; position:relative;}
.cackcen2{ width:33.33%; float:left; color:#666; padding:8px 10px 8px 0px;}
.cackcentexbox{ width:50%; float:left; color:#222; min-height:35px; line-height:35px;}
.colOuter{ width:100%; float:left; margin-bottom:10px; font-size:14px;}

.col1{ float:left; width:33.33333333333333%; padding:0px 5px;}
.col2{ float:left; width:33.33333333333333%; padding:0px 5px; position:relative;}
.col3{ float:left; width:33.33333333333333%; padding:0px 5px;}
.col2full{ float:left; width:66.66666666666666%; padding:0px 5px;}
.weightkg{ height:33px; line-height:33px; position:absolute; right:-15px; top:0px; font-size:16px;}
.col1title{color:#666; padding-top:8px; padding-bottom:8px;}
.priceBox{ width:100%; float:left; border:3px solid #ec268f;-webkit-border-radius:8px;-moz-border-radius:8px;
-o-border-radius:8px;-ms-border-radius:8px;border-radius:8px;}
.inrbox{width:100%; float:left; background:#fff; padding:15px 10px; text-align:center;
-webkit-border-radius:8px 8px 0px 0px;-moz-border-radius:8px 8px 0px 0px;
-o-border-radius:8px 8px 0px 0px;-ms-border-radius:8px 8px 0px 0px;border-radius:8px 8px 0px 0px; font-size:48px; color:#343690; border-bottom:1px solid #d0d0d0;}
.inrboxmiddle{ background:#eeeeee;width:100%; float:left;}
.inrboxmiddle ul{ width:100%; float:left; margin:0px; padding:0px; list-style-type:none;}
.inrboxmiddle li{ width:100%; float:left; margin:0px; padding:8px 15px; list-style-type:none; border-top:1px solid #fff;border-bottom:1px solid #d0d0d0; font-size:18px; color:#4f4f4f;}
.priceLeft{ width:50%; float:left; text-align:left;}
.priceRight{ width:50%; float:left; text-align:center;color:#000;}
.priceRight span{ color:#ec268f;}
.inrboxmiddle li.total{ background:#343690;padding-top:12px;}
.inrboxmiddle li.total .priceLeft{ color:#fff;}
.inrboxmiddle li.total .priceRight{ color:#fff;}

.inrboxmiddle li.advance{ background:#eeeeee;padding-top:12px;}
.inrboxmiddle li.total .priceLeft{}
.inrboxmiddle li.total .priceRight{}

.remainamount{width:100%; float:left; background:#ec268f; padding:13px 10px; text-align:center;
-webkit-border-radius:0px 0px 3px 3px;-moz-border-radius:0px 0px 3px 3px;
-o-border-radius:0px 0px 3px 3px;-ms-border-radius:0px 0px 3px 3px;border-radius:0px 0px 3px 3px;}
.remainamount .priceLeft{color:#fff;line-height:18px; font-size:15px;}
.remainamount .priceRight{color:#fff; font-size:24px; line-height:18px;}
.textright{ text-align:right;}
.textcenter{ text-align: center;}


.btnSubmit{background:#ec268f;text-align:center; margin:0px; padding:10px 26px;cursor:pointer;border:2px solid #ec268f;float:left; color:#fff; font-size:18px; font-weight:bold; display:inline-block; vertical-align:top;
-webkit-border-radius:5px;-moz-border-radius:5px;
-o-border-radius:5px;-ms-border-radius:5px;border-radius:5px; float:left;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}
.btnSubmit:hover{background:#343690;border:2px solid #343690;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}

.btnReset{background:#fff;text-align:center; margin:0px; padding:10px 26px;cursor:pointer;border:2px solid #ccc;float:right; color:#909090; font-size:18px; font-weight:bold; display:inline-block; vertical-align:top;
-webkit-border-radius:5px;-moz-border-radius:5px;
-o-border-radius:5px;-ms-border-radius:5px;border-radius:5px;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}
.btnReset:hover{background:#eee;border:2px solid #ccc;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}

.buttonsaveorder{background:#ec268f;text-align:center; margin:0px; padding:8px 15px;cursor:pointer;border:2px solid #ec268f; color:#fff; font-size:16px; line-height:20px; font-weight:bold; display:inline-block; vertical-align:top;
-webkit-border-radius:5px;-moz-border-radius:5px;
-o-border-radius:5px;-ms-border-radius:5px;border-radius:5px;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}
.buttonsaveorder:hover{background:#343690;border:2px solid #343690;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}



.sidenav {
    height:150%;
    width: 0;
    position:absolute;
    z-index:3;
    top: 0; bottom:0px;
    left:0; color:#000;overflow:auto;
	-webkit-transition: all ease 0.2s;-moz-transition: all ease 0.2s;-o-transition: all ease 0.2s;-ms-transition: all ease 0.2s;transition: all ease 0.2s;
    text-align:center; background:#fff;
}

.sidenav a:hover{
    color: #fff;
}

.sidenav .closebtn {
    position:absolute;
    top:10px;
    right:10px;
}


.topSlide{ width:100%; float:left;}
.topSlide2{ background:#e6e7ff; width:100%; float:left; position:relative;
/* padding:20px 60px 20px 20px; */ text-align:left;}


* {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}:before, :after {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#mySidenav{-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s; }
#mySidenav1{-webkit-transition: all ease 0.2s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.2s;-ms-transition: all ease 0.2s;transition: all ease 0.2s;}
#mySidenav3{-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s; }
.managecar{ width:100%; float:left;}

.listarea{ width:100%; float:left; padding:0px 10%;}
.listarea ul{ width:100%; float:left; margin:0px; padding:0px;}
.listarea li{ width:33.33%; float:left; margin:0px; padding:15px;}
.listareaBox{width:100%; float:left; text-align:left; background:#ec268f; padding-left:78px; position:relative; height:79px;
-webkit-border-radius:40px;-moz-border-radius:40px;-o-border-radius:40px;-ms-border-radius:40px;border-radius:40px; color:#fff; border:3px solid #ec268f;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}
.listareaBox:hover{ background:#fff;border:3px solid #dfdfdf;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}
.listareaBox img{ position:absolute; left:6px; top:4px;}
.listareaBoximg{position:absolute; left:6px; top:4px;}
.listareaBox h2{ width:100%; float:left; margin:4px 0px; padding-top:6px; font-size:18px; line-height:18px;color:#fff;}
.listareaBox h3{ width:100%; float:left; font-size:13px; padding-bottom:6px;color:#fff;}
.listareaBoxdown{ float:left; padding-right:13px;font-size:13px;}
.listareaBoxdown a{ text-decoration:none;font-size:13px; color:#fff; padding:0px!important;}
.listareaBoxdown i{ margin-left:4px;}
.listareaBox:hover h2{ color:#ec268f;}
.listareaBox:hover h3{ color:#ec268f;}
.listareaBox:hover a{ color:#ec268f;}
.listareaBox:hover a:hover{ color:#343690;}


.listareaBlue{ width:100%; float:left; padding:0px 10%;}
.listareaBlue ul{ width:100%; float:left; margin:0px; padding:0px;}
.listareaBlue li{ width:33.33%; float:left; margin:0px; padding:15px;}
.listareaBoxBlue{width:100%; float:left; text-align:left; background:#343690; padding-left:78px; position:relative; height:79px;
-webkit-border-radius:40px;-moz-border-radius:40px;-o-border-radius:40px;-ms-border-radius:40px;border-radius:40px; color:#fff; border:3px solid #343690;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}
.listareaBoxBlue:hover{ background:#fff;border:3px solid #dfdfdf;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}
.listareaBoxBlue img{ position:absolute; left:6px; top:4px;}
.listareaBoximgBlue{position:absolute; left:6px; top:4px;}
.listareaBoxBlue h2{ width:100%; float:left; margin:4px 0px; padding-top:6px; font-size:18px; line-height:18px;color:#fff;}
.listareaBoxBlue h3{ width:100%; float:left; font-size:13px; padding-bottom:6px;color:#fff;}
.listareaBoxdownBlue{ float:left; padding-right:13px;font-size:13px;}
.listareaBoxdownBlue a{ text-decoration:none;font-size:13px; color:#fff; padding:0px!important;}
.listareaBoxdownBlue i{ margin-left:4px;}
.listareaBoxBlue:hover h2{ color:#343690;}
.listareaBoxBlue:hover h3{ color:#343690;}
.listareaBoxBlue:hover a{ color:#343690;}
.listareaBoxBlue:hover a:hover{ color:#ec268f;}





.listareaBoximg{ position:absolute; left:0px; top:0px; width:65px; height:65px; padding:0px!important;}
.listareaBoximg img:last-child{display:none}
.listareaBox:hover .listareaBoximg img:first-child{display:none}
.listareaBox:hover .listareaBoximg img:last-child{display:inline-block}

.profileinsite{ display:inline-block; vertical-align:top; width:100%; text-align:left; padding:0px 50px;}
.textcen{ text-align:center;}
.profile{ width:100%; float:left; margin:10px 0px; position:relative; font-size:16px; color:#000;}
.profilefildset{ width:35%; float:left; padding-right:15px; margin:7px 0px;}
.profileinput{ width:65%; float:right;}
.editimg{ width:110px; float:left; position:relative;}
.editimg img{ max-width:110px; height:110px; width:110px;}

.profileinsiteLeft{ width:50%; padding-right:50px; float:left;}
.profileinsiteRight{ width:50%; float:left;}
.mardis{ margin:7px 0px;}
.editpics{ position:absolute; right:-40px; top:0px; width:33px; height:33px; background:#ec268f; text-align:center; font-size:18px; color:#fff; cursor:pointer;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;border-radius:50%;}
.editpics i{ margin-top:7px;}
.editpics:hover{background:#343690;}

.fileUpload {position: relative;overflow: hidden; cursor:pointer;}
.fileUpload span{width:33px; height:33px; display:block; cursor:pointer;}
.fileUpload input.upload {position: absolute;top: 0;right: 0;margin: 0;padding: 0;cursor: pointer;opacity: 0;
filter: alpha(opacity=0); width:100%; height:33px;}
.messages{ width:100%; float:left; margin:3px 0px; padding:8px; text-align:center; font-size:16px;}
.messagesErr{ border:1px solid #e3c1c5; color:#e32139; background:#ffeff1;}
.messagesSuccess{ border:1px solid #c0e6bb; color:#1a9502; background:#f5fff3;}
.messagesInfo{ border:1px solid #bfdfff; color:#3f9eff; background:#e7f3ff;}

.err{ font-size:13px; color:#e32139; margin-top:3px;}

.loginInner{ width:100%; float:left; padding:40px 33%;}
.loginInner h2{width:100%; float:left; padding-bottom:25px; text-align:center; color:#444; font-size:18px;}
.loginInner h3{width:100%; float:left; padding:10px; text-align:center; color:#444; font-size:18px;}

.loginInner h2 span{ display:block; color:#ec268f; font-size:36px;}
.loginBox{ width:100%; float:left; background:#f6f6f6; border:2px solid #ccc; padding:40px 30px 20px 30px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;-ms-border-radius:10px;border-radius:10px; margin-top:40px; position:relative;
border:5px solid #fff;
-webkit-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.25);
-moz-box-shadow:    0px 2px 14px 0px rgba(0, 0, 0, 0.25);
-ms-box-shadow:     0px 2px 14px 0px rgba(0, 0, 0, 0.25);
box-shadow:         0px 2px 14px 0px rgba(0, 0, 0, 0.25); margin-bottom:20px;}
.loginfildset{ margin:8px 0px;width:100%; float:left; }

.texboxlogin{ background:#fff;min-height:40px; line-height:40px; width:100%;font-size:14px;color:#333;border:1px solid #ccc; padding-left:15px;-webkit-border-radius:5px;-moz-border-radius:5px;
-o-border-radius:5px;-ms-border-radius:5px;border-radius:5px;}

.texboxlogin::-webkit-input-placeholder {color: #333 !important;opacity: 1 !important;}
.texboxlogin:-moz-placeholder { color: #333 !important;opacity: 1 !important;}
.texboxlogin::-moz-placeholder {color: #333!important;opacity: 1 !important;}
.texboxlogin:focus, input:focus{outline: 0;}
.texboxlogin *:focus {outline: 0;}
@media screen and (-webkit-min-device-pixel-ratio:0) {::i-block-chrome, .texboxitemcode{ line-height:16px;}}
.buttonlogin{background:#ec268f;text-align:center; margin:0px; padding:8px 15px;cursor:pointer;border:2px solid #ec268f; color:#fff; font-size:16px; width:100%; line-height:20px; font-weight:bold; -webkit-border-radius:5px;-moz-border-radius:5px;
-o-border-radius:5px;-ms-border-radius:5px;border-radius:5px;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}
.buttonlogin:hover{background:#343690;border:2px solid #343690;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}
.logintexboxleft{ float:left; text-align:left; font-size:13px; color:#343690;}
.logintexboxleft a{ text-decoration:none; color:#343690;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}
.logintexboxleft a:hover{ text-decoration:none; color:#ec268f;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;-ms-transition: all ease 0.5s;transition: all ease 0.5s;}

.checkbox {
    float:right;
    text-align:right;
    position: relative;
}
input[type=radio],
input[type=checkbox] {display: none;}
label:before {
	content: "";
	display: inline-block;
	width:14px;
	height:14px;
	margin-right:10px;
	position: absolute;
	left:0; top:0px;
	background-color:#fff; border:0px solid #ccc;
	border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;
}

.radio label:before {
	border-radius: 8px;
}
.checkbox label { padding-left:20px; font-size:13px; color:#333; cursor:pointer;}
.checkbox label:before {
    border-radius: 3px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

input[type=checkbox]:checked + label:before {
	content: "\2713"; font-weight:bold;
	font-size:12px;
	color: #000;
	text-align: center;
    line-height:12px;
}
.loginUser{ position:absolute; text-align:center; left:0px; right:0px; height:1px;}
.loginUser img{ top:-80px; position:relative;}


/*--css-divices--*/
@media screen and (max-width:1366px){
.wrapperIn{ width:100%;}
.wrapperIn2{ width:100%;}
.listarea{ padding:0px 13%;}

}

@media screen and (max-width:1280px){
.remainamount .priceLeft{ font-size:13px;}
.listarea{ padding:0px 10%;}
}

@media screen and (max-width:1024px){
.order-amount{ width:40%;}
.order-price{ width:60%;}
.ordercloser2{ width:40%;}
.orderclose{ width:60%;}
.ordercake .left{ width:50%; padding-right:30px;}
.ordercake .center{ width:50%; padding-right:0px;}
.ordercake .right{ float:left; width:50%; padding-top:30px;}
.remainamount .priceLeft{ font-size:16px;}
.listarea{ padding:0px 0%;}
.profileinsite{ padding:0px;}
.profile{ font-size:14px;}
.loginInner{ padding-left:25%; padding-right:25%;}
}

@media screen and (max-width:800px){
.shInnerwidth{ width:800px;}
.table-responsive{width:100%;overflow-x:scroll;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar;-webkit-overflow-scrolling:touch;} 
.order-left{ width:100%;}
.order-right{ width:100%;}
.orderclose{ float:left; width:auto;}
.order-price{ float:left; width:auto;}
.order-amount{ width:auto;}
.ordercloser2{ width:auto;}
.sidebarright{ padding-top:20px; padding-right:20px; padding-left:150px;}
.order-amount{ padding:4px 20px;}
.cd-tabs-content li{ padding:15px;}
.ordercake .left{ width:100%; padding-right:0px;}
.ordercake .center{ width:100%; padding-right:0px; padding-top:20px;}
.ordercake .right{ float:left; width:100%; padding-top:30px;}
.cackleft{ width:33.33%;}
.cackleft2{ width:33.33%;}
.cackrighttexbox{ width:66.66666666666666%}
.listarea li{ width:50%;}
.screen4plan{ padding:10px 0px;}
.profileinsiteLeft{ width:100%; padding-right:0px;}
.profileinsiteRight{ width:100%; padding-right:0px;}
.profilefildset{ width:30%;}
.profileinput{ width:70%;}
}

@media screen and (max-width:700px){
.logoBarLeft img{ max-width:120px;}
.logoBarbg{ height:90px;}
.logoBarRight{padding:34px 0px 0px 0px; position:absolute; right:0px; top:0px; width:100%;}
.usericon{ background:none;}
.logoBarbg{ padding:0px;}
.logoBarLeft{ padding:6px 10px;}
.usericon{ padding-right:32px;}
.menuzord-menu ul.dropdown, .menuzord-menu ul.dropdown li ul.dropdown {
	list-style: none; 
	margin:0px 0px 0px 0px;}
.cd-tabs-navigation a{ padding:10px 20px;}
.wrapperIn2{ padding-top:90px;}	

.sidebarhome{ position:static; background:#ec268f; width:100%;}
.sidebarhome ul{ padding:0px;}
.sidebarhome li{ width:25%; float:left;}
.sidebarhome li a{ padding:10px; width:100%;}
.sidebarOuter{ display:none;}
.sidebarright{ padding-left:20px;}
.table{ font-size:14px;}
#mySidenav{ margin-top:193px;}
#mySidenav1{ margin-top:193px;}
#mySidenav2{ margin-top:193px;}
#mySidenav3{ margin-top:193px;}
.homesliderImg img{ max-width:95%;}
.homesliderTitle{ font-size:16px; text-align:center;}
.listarea li{ width:100%; padding:15px 0px;}
.sidenav{ overflow-y:auto; max-height:460px;}
.topSlide2{ padding:40px 10px 20px 10px;}
.latestNewsTitle{ float:left; margin-top:-44px;
-webkit-border-radius:4px 4px 0px 0px;-moz-border-radius:4px 4px 0px 0px;
-o-border-radius:4px 4px 0px 0px;-ms-border-radius:4px 4px 0px 0px;border-radius:4px 4px 0px 0px;}
.latestNews{ margin-top:44px;}
.marquee{width:100%; float:left;}
.latestNews{ padding-left:20px;}
@keyframes marquee {
    0%   { text-indent: 10.5em }
    100% { text-indent: -105em }
}
.pageTitle{ font-size:20px;}
.loginInner{ padding-left:10%; padding-right:10%;}

}

@media screen and (max-width:480px){
.col1{ width:50%;}
.col2full{ width:50%;}
.col2{ width:50%;}
.weightkg{ right:15px;}
.col3{ width:50%; float:right; margin-top:15px;}
.inrbox{ font-size:38px; padding:10px;}
.remainamount .priceLeft{ font-size:14px;}
.fullform{ font-size:13px;}
.cackleft{ width:50%;}
.cackleft2{ width:50%;}
.cackrighttexbox{ width:50%}
#mySidenav{ margin-top:208px;}
#mySidenav1{ margin-top:208px;}
#mySidenav2{ margin-top:208px;}
#mySidenav3{ margin-top:208px;}
.sidebarhome .title span{ display: block;}
.profilefildset{ width:100%;}
.profileinput{ width:100%;}
.loginInner{ padding:30px 20px;}
}

@media screen and (max-width:320px){
}