.search {
 margin-top: 20px;
 margin-bottom: 0px;
 width: 100%;
  background-position: 10px 10px;
  background-repeat: no-repeat;
   margin-left: 0px;
  
}

.fa-search {
    top: 15px;
    left: 25px; /* for left side */
    /* right: 5px; for right side*/
    position: absolute;
}

#myInput {
  
margin-top: 10px;
 margin-bottom: 0px;
  margin-left: 0px;
  padding: 5px 5px 5px 38px;
    width: 100%;
      background-position: 10px 10px;
  background-repeat: no-repeat;
    font-size: 14px;
}